{% extends "base.html" %}

{% block title %}Lista de Instalaciones{% endblock title %}

{% block extra-css %}{% endblock extra-css %}

{% block content %}
    <div class="header">
        <section class="hero is-info">
            <div class="hero-body">
            <div class="container">
                  <h1 class="title">
                    <a class="button is-link is-info" href="adms.html">
                    <a href="{% url 'index' %}" class="button is-gray">
                       <span class="icon is-small">
                          <i class="fas fa-arrow-left"></i>
                       </span>
                    </a>
                    Lista de instalaciones
                  </h1>
                </div>
            </div>
        </section>
    </div>
    <section class="section has-text-centered">
                
        <input class="input"type="text-centered" placeholder="Clave del Empleado" style=" width: 50%; margin-left: -5px;">
        <button class="button is-link">Buscar</button>
        <a class="button is-info" href="{% url 'instalaciones:create' %}">Agregar</a>

    <table class="table is-hoverable">
        <thead>
            <tr>
                <th># Instalación</th>
                <th># Piso</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Usuario de departamento</th>
                <th>Calle</th>
                <th>Colonia</th>
                <th>Código Postal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for instalacion in instalacion_list %}
                <tr>
                    <td><a href="{% url 'instalaciones:detail' instalacion.pk %}">{{ instalacion.pk }}</a></td>
                    <td>{{ instalacion.numero_piso }}</td>
                    <td>{{ instalacion.fecha }}</td>
                    <td>{{ instalacion.hora }}</td>
                    <td>{{ instalacion.usuario_departamento }}</td>
                    <td>{{ instalacion.calle }}</td>
                    <td>{{ instalacion.colonia }}</td>
                    <td>{{ instalacion.codigo_postal }}</td>
                    <td>
                        <a href="{% url 'instalaciones:detail' instalacion.pk %}" class="button is-info is-outlined" title="Ver detalle">
                            {# <span>Editar</span> #}
                            <span class="icon is-small">
                                <i class="fas fa-eye"></i>
                            </span>
                        </a>
                        <a href="{% url 'instalaciones:update' instalacion.pk %}" class="button is-success is-outlined" title="Editar">
                            {# <span>Editar</span> #}
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        <a href="{% url 'instalaciones:delete' instalacion.pk %}" class="button is-danger is-outlined" title="Eliminar">
                            {# <span>Eliminar</span> #}
                            <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay instalaciones.</td>
                </tr>
            {% endfor %}
        </tbody>    
    </table>
    </section>
{% endblock content %}

{% block extra-js %}{% endblock extra-js %}