{% extends "base.html" %}

{% block title %}Empleados{% endblock title %}

{% block extra-css %}{% endblock extra-css %}

{% block content %}
	<!--<h1>Index</h1>
    <a href="{% url 'empleados:detail' 1 %}">Detail</a>
    <a href="{% url 'empleados:form' %}">Form</a>--->
    <div class="header">
			<section class="hero is-info">
			  <div class="hero-body">
			    <div class="container">
			      <h1 class="title">
			      	<a class="button is-link is-info" href="adms.html">
				   <span class="icon is-small">
				      <i class="fas fa-arrow-left"></i>
				   </span>
			      	</a>
			        EMPLEADOS
			      </h1>
			      <h2 class="subtitle">
			      
			      </h2>
			    </div>
			  </div>
			</section>

			<section class="section has-text-centered">
				
				<input class="input"type="text-centered" placeholder="Clave del Empleado" style=" width: 50%; margin-left: -5px;"> <!--Estilo Agregado--->	
				<button class="button is-link">Buscar</button>
				<button class="button is-info" href="addusd.html">Agregar</button>
				<button class="button" href="addusd.html">Detalles</button>
				<button class="button is-success">
				   <span>Editar</span>
				   <span class="icon is-small">
				      <i class="fas fa-edit"></i>
				   </span>
				</button>
				<button class="button is-danger is-outlined">
				   <span>Elimnar</span>
				   <span class="icon is-small">
				      <i class="fas fa-times"></i>
				   </span>
				</button>
				<br>
				<br>
				<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
				<tr>
					<th>Clave</th><!--id_emplado--->
				    <th>Puesto</th>
				    <th>Nombre</th>
				    <th>Apellido Materno</th>
				    <th>Apellido Materno</th>
				    <th>Calle</th>
				    <th>Colonia</th>
				    <th>Delegación</th>
				    <th>Municipio</th>
				    <th>Codigo Post.</th>
				</tr>
				<tr>
					<td><input type="checkbox"></td> 
					<td></td>
					<td></td>
					<td></td>
					<td></td> 
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			</section>


{% endblock content %}

{% block extra-js %}{% endblock extra-js %}