{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="utf-8">
	<link rel="icon" type="img/png" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <title>{% block title %}{% endblock title %}</title>

    
    {% block extra-css %}{% endblock extra-css %}
</head>
<body>
    {% block content %}{% endblock content %}

            <section class="section has-text-centered">
                <img src="{% static 'img/logo_llama_gas.png' %}" width="60" height="60">
                <p class="content is-small"><b>WWW.INSTALG.COM</b></p>
            </section>
        </div>

        <footer class="footer has-text-centered" roler="footer">
            <p class="content is-small">Sistema dedicado a control de materiales, intalaciones de gas y empleados.</p>
            <br>
            <p class="content is-small">Todos los derechos reservados &copy</p> 
        </footer>     


	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    
    {% block extra-js %}{% endblock extra-js %}
</body>
</html>