{% extends "base.html" %}

{% block title %}Index{% endblock title %}

{% block extra-css %}{% endblock extra-css %}

{% block content %}
    <h1>Index</h1>

    <a href="{% url 'empleados:list' %}">Empleados</a>
    {# <a href="{% url 'instalaciones:list' %}">Instalaciones</a> #}
    {# <a href="{% url 'materiales:list' %}">Materiales</a> #}
    {# <a href="{% url 'pedidos:list' %}">Pedidos</a> #}
    <a href="{% url 'proveedores:list' %}">Proveedores</a>
    <a href="{% url 'puestos:list' %}">Puestos</a>
    {# <a href="{% url 'usuarios:list' %}">Usuarios</a> #}
    {# <a href="{% url 'usuarios_departamentos:list' %}">Usuarios de Departamentos</a> #}
{% endblock content %}

{% block extra-js %}{% endblock extra-js %}