{% extends "base.html" %}

{% block title %}Index{% endblock title %}

{% block extra-css %}{% endblock extra-css %}

{% block content %}
    <h1>Index</h1>

    <a href="{% url 'empleados:list' %}" class="button is-info">Empleados</a>
    {# <a href="{% url 'instalaciones:list' %}" class="button is-info">Instalaciones</a> #}
    <a href="{% url 'materiales:list' %}" class="button is-info">Materiales</a>
    {# <a href="{% url 'pedidos:list' %}" class="button is-info">Pedidos</a> #}
    <a href="{% url 'proveedores:list' %}" class="button is-info">Proveedores</a>
    <a href="{% url 'puestos:list' %}" class="button is-info">Puestos</a>
    {# <a href="{% url 'usuarios:list' %}" class="button is-info">Usuarios</a> #}
    <a href="{% url 'usuarios_departamentos:list' %}" class="button is-info">Usuarios de Departamentos</a>
{% endblock content %}

{% block extra-js %}{% endblock extra-js %}