{% extends "base.html" %}

{% block title %}Lista de Pedidos{% endblock title %}

{% block extra-css %}{% endblock extra-css %}

{% block content %}
    <div class="header">
        <section class="hero is-info">
            <div class="hero-body">
            <div class="container">
                  <h1 class="title">
                    <a class="button is-link is-info" href="adms.html">
                    <a href="{% url 'index' %}" class="button is-gray">
                       <span class="icon is-small">
                          <i class="fas fa-arrow-left"></i>
                       </span>
                    </a>
                    Lista de pedidos
                  </h1>
                </div>
            </div>
        </section>
    </div>
    <section class="section has-text-centered">
                
        <input class="input"type="text-centered" placeholder="Clave del Empleado" style=" width: 50%; margin-left: -5px;">
        <button class="button is-link">Buscar</button>
        <a class="button is-info" href="{% url 'pedidos:create' %}">Agregar</a>

    <table class="table is-hoverable">
        <thead>
            <tr>
                <th># Pedido</th>
                <th>Empleado</th>
                <th>Instalación</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Total</th>
                <th>Iva</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedido_list %}
                <tr>
                    <td><a href="{% url 'pedidos:detail' pedido.pk %}">{{ pedido.pk }}</a></td>
                    <td>{{ pedido.empleado.nombre }}</td>
                    <td>{{ pedido.instalacion.pk }}</td>
                    <td>{{ pedido.fecha }}</td>
                    <td>{{ pedido.hora }}</td>
                    <td>{{ pedido.total }}</td>
                    <td>{{ pedido.iva }}</td>
                    <td>
                        <a href="{% url 'pedidos:detail' pedido.pk %}" class="button is-info is-outlined" title="Ver detalle">
                            {# <span>Editar</span> #}
                            <span class="icon is-small">
                                <i class="fas fa-eye"></i>
                            </span>
                        </a>
                        <a href="{% url 'pedidos:update' pedido.pk %}" class="button is-success is-outlined" title="Editar">
                            {# <span>Editar</span> #}
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        <a href="{% url 'pedidos:delete' pedido.pk %}" class="button is-danger is-outlined" title="Eliminar">
                            {# <span>Eliminar</span> #}
                            <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay pedidos.</td>
                </tr>
            {% endfor %}
        </tbody>    
    </table>
    </section>
{% endblock content %}

{% block extra-js %}{% endblock extra-js %}